<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Load the Facebook JavaScript SDK -->
<body th:include="layout/script::fb_script"></body>

<img src="https://graph.facebook.com/100002617381161/picture" />
<script type="text/javascript">
    /*<![CDATA[*/

    var start = function() {}

    function authUser() {
        FB.login(checkLoginStatus, {scope:'email, publish_actions'});
    }

    function checkLoginStatus(response) {
        if(response && response.status == 'connected') {
            FB.api("/me", function(response) {
                console.log(response);
                var user = {
                    name: response.name,
                    profile: "https://graph.facebook.com/" + response.id + "/picture",
                    email: response.email,
                    fbid: response.id
                }
                console.log(user);
                $.post("/login", user, function(data) {
                    console.log(data);
                });
            });
        } else {
            alert("can not Facebook login!");
        }
    }

    /*]]>*/
</script>

<input id="loginButton" type="button" value="Login!" onclick="authUser();" />
</body>
</html>